@media only screen and (max-width: 1050px) {
    header  {
        p {
            font-size: 24px;
        }
        .sidepanel {
            height: 250px; 
            width: 0; 
            position: fixed; 
            z-index: 1; 
            top: 0;
            right: 0;
            background-color: rgba(72, 116, 157, 0.6);
            overflow-x: hidden; 
            padding-top: 60px; 
            transition: 0.2s; 
            a {
                padding: 8px 8px 8px 32px;
                text-decoration: none;
                font-size: 20px;
                color: white;
                display: block;
                transition: 0.2s;
                &:hover {
                    color: #f1f1f1;
                }
            }
        }

        .openbtn, .closebtn {
            display: block;
        }

        .closebtn {
            position: absolute;
            top: 0;
            right: 25px;
            font-size: 36px;
            margin-left: 50px;
        }

        .openbtn {
            font-size: 20px;
            cursor: pointer;
            background-color: rgba(72, 116, 157, 0.6);
            border-radius: 5px;
            color: white;
            padding: 5px 15px;
            border: none;
            &:hover {
                background-color: #444;
            }
        }
    }

    #intro {
        padding: 8vh 8% 0 8%; 
        margin: 10vh 0; 
        article {
            padding: 2vh 0 8vh 0; 
            h2 {
                font-size: 2em;
            }
            h1 {
                font-size: 1.8em;
                margin: 2vh 0 5vh 0;
                color: white; 
            }
        }
    }

    .youAreDeep, .iAmDeep {
        grid-template-columns: repeat(2, 1fr); 
    }

    .iAmDeep {
        p {
            height: 20vh; 
        }
    }

    #aboutMe {
        margin: 5vh 0; 
        height: 40vh;
        overflow: scroll;
    }
}

@media only screen and (max-width: 450px) {
    header  {
        p {
            font-size: 18px;
        }
    }

    #intro {
        display: block; 
        padding: 5vh 8% 5vh 8%; 
        margin: 10vh 0 0 0; 
        article {
            width: 100%; 
            margin-bottom: 5vh;
        }
        img {
            width: 100%; 
        }
    }

    #introDetails {
        margin-top: 10vh
    }

    .youAreDeep, .iAmDeep {
        grid-template-columns: repeat(1, 1fr); 
    }

    #aboutMe {
        margin: 5vh 0; 
    }

    .chapterTopic {
        font-size: 2rem;
    }

    #costs {
        padding: 2vh 8%;
    }

    footer {
        font-size: 0.8rem;
        article {
            margin-top: 1vh; 
        }
    }
}