/* --------------- General Styles --------------- */
/* Fonts */
@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
/* font-family: 'Montserrat', sans-serif; */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  margin: 0 auto;
}

h2, h3, p {
  color: rgb(72, 116, 157);
}

.chapterTopic {
  font-size: 3rem;
  margin-bottom: 3vh;
  border-bottom: 1px solid rgb(72, 116, 157);
}

p {
  line-height: 1.5;
}

span {
  font-weight: bold;
}

/* --------------- Header --------------- */
header {
  max-width: 1440px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 4vh 8%;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
}
header p {
  font-size: 30px;
  color: rgb(72, 116, 157);
}

/* === Navigation === */
nav a {
  color: rgb(72, 116, 157);
  margin-left: 25px;
  position: relative;
  padding: 4px 0;
  text-decoration: none;
  text-transform: uppercase;
  transition: 0.5s;
}
nav a::after {
  position: absolute;
  content: "";
  top: 100%;
  left: 0;
  width: 100%;
  height: 3px;
  background: rgb(245, 198, 92);
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.5s;
}
nav a:hover {
  color: rgb(145, 180, 212);
}
nav a:hover::after {
  transform: scaleX(1);
  transform-origin: left;
}

/* --------------- Main --------------- */
/* ----- Introduction ----- */
#intro {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 15vh 0;
  padding: 10vh 8% 0 8%;
  background: linear-gradient(156deg, rgba(72, 116, 157, 0.5886948529) 14%, rgba(245, 198, 92, 0.8) 100%);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
#intro article {
  width: 42%;
  padding: 5vh 0;
}
#intro article h2 {
  font-size: 3.2em;
  color: white;
}
#intro article h1 {
  font-size: 2em;
  margin: 3vh 0 5vh 0;
  color: white;
}
#intro article a {
  background: rgb(245, 198, 92);
  color: rgb(72, 116, 157);
  padding: 10px 15px;
  border-radius: 10px;
  text-decoration: none;
  transition: all 0.3s linear;
}
#intro article a:hover {
  transition: all 0.3s linear;
  background: rgb(249, 223, 163);
}
#intro img {
  width: 49%;
  display: block;
  margin-bottom: -100px;
  border-radius: 10px;
}

/* ----- Intro Details ----- */
#introDetails, #aboutMe, #costs {
  padding: 5vh 8%;
}

.youAre h2, .iAm h2 {
  margin: 8vh 0 3vh 0;
}

.youAreDeep, .iAmDeep {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: auto;
  column-gap: 25px;
  row-gap: 20px;
}
.youAreDeep p, .iAmDeep p {
  padding: 2vh 8%;
  background-color: rgb(200, 211, 221);
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
  height: 20;
  overflow: scroll;
  transition: all 0.5s linear;
}
.youAreDeep p:hover, .iAmDeep p:hover {
  background: rgba(245, 198, 92, 0.8);
  color: rgb(72, 116, 157);
  transition: all 0.5s linear;
}

.iAmDeep p {
  height: 35vh;
}

/* ----- About Me ----- */
#aboutMe {
  margin: 10vh 0;
  background: rgb(249, 223, 163);
  height: 60vh;
  border-top-left-radius: 20px;
  border-bottom-right-radius: 20px;
}

/* ----- costs ----- */
#costs article {
  margin-bottom: 7vh;
}
#costs article h2 {
  margin-bottom: 2vh;
}
#costs article p {
  margin-bottom: 1vh;
}

/* --------------- Footer --------------- */
footer {
  background-color: lightgray;
  padding: 5vh 8%;
  border-top-right-radius: 20px;
}
footer h3 {
  margin-bottom: 2vh;
  border-bottom: 1px solid rgb(72, 116, 157);
}
footer article {
  display: flex;
  margin-top: 1vh;
}
footer article p {
  margin-right: 5px;
}
footer article a {
  color: rgb(72, 116, 157);
  text-decoration: none;
  transition: all 0.2s linear;
}
footer article a:hover {
  color: rgb(200, 153, 42);
  font-weight: bold;
  text-decoration: underline;
  transition: all 0.2s linear;
}

@media only screen and (max-width: 850px) {
  header p {
    font-size: 18px;
  }
  header nav a {
    font-size: 15px;
  }
  #intro {
    padding: 8vh 8% 0 8%;
    margin: 10vh 0;
  }
  #intro article {
    padding: 2vh 0;
  }
  #intro article h2 {
    font-size: 1.8em;
  }
  #intro article h1 {
    font-size: 1.5em;
    margin: 2vh 0 3vh 0;
    color: white;
  }
  .youAreDeep, .iAmDeep {
    grid-template-columns: repeat(2, 1fr);
  }
  .iAmDeep p {
    height: 20vh;
  }
  #aboutMe {
    margin: 5vh 0;
    height: 40vh;
    overflow: scroll;
  }
}
@media only screen and (max-width: 450px) {
  header p {
    font-size: 18px;
  }
  header nav {
    display: none;
  }
  #intro {
    display: block;
    padding: 5vh 8% 5vh 8%;
    margin: 10vh 0 0 0;
  }
  #intro article {
    width: 100%;
    margin-bottom: 5vh;
  }
  #intro img {
    width: 100%;
  }
  .youAreDeep, .iAmDeep {
    grid-template-columns: repeat(1, 1fr);
  }
  #aboutMe {
    margin: 5vh 0;
  }
  #costs {
    padding: 2vh 8%;
  }
  footer article {
    margin-top: 1vh;
  }
}

/*# sourceMappingURL=style.css.map */
